@import './../../scss/variables.scss';

.info {
    text-align: center;
    

    .info_title {
        margin-top: 1rem;

        @media screen and (max-width: 767px) and (min-width: 320px) {
            width: 5rem;
        }
        
        h2 {
            @include h4;

            @media screen and (max-width: 1200px) and (min-width: 767px) {
                @include h4;
            }

            @media screen and (max-width: 767px) and (min-width: 320px) {
                @include paragraph_3;
            }
        }

        p {
            @media screen and (max-width: 767px) and (min-width: 320px)  {
                display: none;
            }
        }
    }
}