@import "../../scss/variables.scss";

.menu_mobile {
  width: 0;
  height: 221.3rem;
  background-color: $white_1;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  z-index: 1;
  color: black;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    width: 0;
    height: 333.1rem;
    background-color: $white_1;
    position: absolute;
    left: -24px;
    top: -16px;
    z-index: 1;
    color: black;
    transition: 0.2s ease-in-out;
  }

  &__container {
    padding: 3rem 3rem;
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: -1.5rem;

    &__closeBtn {
      display: flex;
      width: 4.5rem;
      cursor: pointer;
      position: relative;
      outline: none;
      border: none;
      background: transparent;

      img {
        width: 100%;
      }

      span {
        display: inline-block;
        vertical-align: baseline;
        margin-left: 0.5rem;
        margin-top: 0.01rem;
        color: $gray_500;
        @include paragraph_3;
        font-size: 1rem;
        font-weight: $font_weight_700;
        font-family: Helvetica, sans-serif;
      }
    }

    &__logoMobile {
      margin-top: 1rem;
      width: 13rem;
      padding-left: 0.3rem;

      img {
        width: 100%;
      }
    }

    &__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 12rem;
      @include paragraph_1;
      font-weight: $font_weight_normal;
      color: $gray_900;

      div:nth-child(2),
      div:nth-child(3) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        img {
          width: 1.5rem;
        }
      }
    }

    &__log {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 5rem;

      div {
        span {
          margin-left: 1rem;
          @include paragraph_1;
          font-weight: $font_weight_500;
          display: inline-block;
          vertical-align: super;
        }
      }
    }
  }
}

.menu_active {
  width: 0;
  height: 221.3rem;
  background-color: $white_1;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  z-index: 1;
  color: black;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    width: 20rem;
    height: 319rem;
    background-color: $white_1;
    position: absolute;
    left: -24px;
    top: -16px;
    z-index: 1;
    color: black;
    transition: 0.2s ease-in-out;
  }
}

.line {
  width: 100%;
  border-bottom: 1px solid $gray_200;
}
