@import "../../scss/variables.scss";

.header {
  height: auto;
  background-color: $gray_900;
  padding: 1.5rem 0;
  color: #fff;
  position: relative;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    height: 3.5rem;
    padding-top: 1rem;
  }

  .container {
    max-width: $container_width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1200px) and (min-width: 767px) {
      padding: 0 $media_width1;
    }
    @media screen and (max-width: 767px) and (min-width: 320px) {
      padding: 0 $media_width2;
    }

    .top_header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      .logo {
        width: 20%;

        @media screen and (max-width: 767px) and (min-width: 320px) {
          width: 100px;
        }

        img {
          width: 100%;
        }
      }

      .search {
        width: 55%;
        position: relative;
        margin-right: 1rem;
        margin-bottom: 1rem;

        @media screen and (max-width: 767px) and (min-width: 320px) {
          display: none;
        }
      }
      .account_bar {
        display: flex;
        transition: 0.2s;

        .navigate_header {
          margin-right: 1.9rem;

          @media screen and (max-width: 1200px) and (min-width: 767px) {
            margin-right: 1rem;
          }
        }

        .navigate_header:not(.recycle) {
          @media screen and (max-width: 767px) and (min-width: 320px) {
            display: none;
          }
        }

        .burger_menu {
          display: inline-block;
          cursor: pointer;
          margin-right: 1.5rem;
          margin-top: -0.6rem;
          display: none;
          outline: none;
          border: 0;
          background: transparent;

          @media screen and (max-width: 767px) and (min-width: 320px) {
            display: block;
          }

          .bar_1,
          .bar_2,
          .bar_3 {
            width: 1.4rem;
            height: 1px;
            background-color: #fff;
            margin: 0.4rem 0;
            border-radius: 5px;
          }
        }
      }
    }
    .bottom_header {
      width: 100%;
      margin-top: -0.6rem;
      height: auto;

      @media screen and (max-width: 1200px) and (min-width: 768px) {
        margin-top: 0.1rem;
      }

      @media screen and (max-width: 768px) and (min-width: 320px) {
        display: none;
      }

      .nav_bar_container {
        width: 25rem;
        margin: 0 auto;

        .nav_bar {
          display: flex;
          justify-content: space-between;

          .color {
            color: $gray_050;
          }
        }
      }
    }
  }
}

.search_tern {
  width: 80%;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border: 1px solid $gray_500;
  color: $white_1;
  background-color: inherit;
  outline: none;
  border-right: none;
}

.search_button {
  width: 2.5rem;
  height: 2.4rem;
  background-color: $gray_900;
  border: 1px solid $gray_500;
  border-radius: 0 5px 5px 0;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 3.2px;
  position: relative;

  img {
    position: absolute;
    top: 9.5px;
    left: 9.5px;
  }
}
