@import "./variables";
@import "./normalize/normalize.scss";

.wrapper {
  width: 100%;
  background-color: #fff;
}

.content {
  width: 100%;
}

.wrapper_ofScroll {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  height: 100vh;
}
