//color
$gray_1: #f9fafb; 
$gray_2: #f3f4f6;
$gray_3: #e5e7eb;
$gray_4: #d1d5d7;
$gray_5: #9ca3af;
$gray_6: #6b7280;
$gray_7: #4b5563;
$gray_8: #374155;
$gray_9: #1f2937;
$gray_10: #111827;

$purple_1: #3598CC;
$purple_2: #1E75A3;

$container_width: 71.25rem;
$media_width1: 3rem;
$media_width2: 1.5rem


 